* {
  font-family: eczar;
  /* border: 1px solid black; */
}

@font-face {
  font-family: eczar;
  src: url("../src/fonts/Eczar-Regular.ttf");
}

html {
  background-color: rgb(161, 218, 227);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 750px;
  width: 1100px;
  display: grid;
  grid-template-columns: 100px 220px 780px;
  grid-template-rows: 100px 650px;
  box-shadow: 30px 15px 5px rgba(165, 165, 165, 0.5);
}

.spiralBox {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.spiral {
  height: 750px;
  width: 100px;
}

.header {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url("../src/images/notebookPaper.jpg");
  background-repeat: no-repeat;
  border-bottom: 2px solid black;
}

.sideBar {
  background-image: url("../src/images/notebookPaperLeft.jpg");
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.sideBarBox {
  background-color: rgb(69, 163, 143);
  margin: 10px;
  height: 630px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-indent: 10px;
}

ul.projects > li {
  text-indent: 30px;
}

li {
  height: 50px;
}

.listButton {
  font-size: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.info {
  background-image: url("../src/images/notebookPaperRight.jpg");
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.infoBox {
  background-color: rgb(240, 240, 240);
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.taskBox {
  display: grid;
  grid-auto-rows: 70px;
  grid-gap: 10px;
  padding: 20px;
}

.task {
  display: grid;
  grid-template-columns: 50px 400px 50px 50px 50px;
  grid-gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.checkbox {
  height: 20px;
  width: 20px;
}

h2 {
  font-size: 20px;
}

#newProject {
  align-self: center;
  height: 30px;
  width: 160px;
  border-radius: 10px;
}

#newProject:hover {
  background-color: rgba(149, 160, 157, 0.267);
  border: 1px solid grey;
}

#newTask {
  align-self: end;
  height: 30px;
  width: 140px;
  border-radius: 10px;
}

#newTask:hover {
  background-color: white;
  border: 1px solid grey;
}

.addButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.taskButton {
  height: 30px;
}

.taskButton:hover {
  background-color: rgb(69, 163, 143);
}

.editButton,
.deleteButton,
.addButton {
  height: 20px;
}
