:root {
  /* example variable declaration */
  --main-color-background: red;
  --light-color-background: rgb(161, 218, 227);
  --lightest-color-background: rgb(240, 240, 240);
  --task-background-color: white;
  --shadow-color: rgba(165, 165, 165, 0.5);
  --accent-color: rgb(115, 158, 149);
  --border-color: rgb(80, 80, 80);
  --dark-border-color: rgb(46, 46, 46);
}

@font-face {
  font-family: eczar;
  src: url("../src/fonts/Eczar-Regular.ttf");
  font-family: eczarBold;
  src: url("../src/fonts/Eczar-Bold.ttf");
}

html {
  background-color: var(--light-color-background);
  font-family: eczar;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 750px;
  width: 1100px;
  display: grid;
  grid-template-columns: 100px 220px 780px;
  grid-template-rows: 100px 650px;
  box-shadow: 30px 15px 5px var(--shadow-color);
}

.spiralBox {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.spiral {
  height: 750px;
  width: 100px;
}

.header {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url("../src/images/notebookPaper.jpg");
  background-repeat: no-repeat;
  border-bottom: 2px solid var(--border-color);
}

.sideBar {
  background-image: url("../src/images/notebookPaperLeft.jpg");
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.sideBarBox {
  background-color: var(--accent-color);
  margin: 10px;
  height: 630px;
  width: 180px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listBox {
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.listBox::-webkit-scrollbar {
  background: var(--accent-color);
}

.listBox::-webkit-scrollbar-thumb {
  background: var(--border-color);
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-indent: 10px;
}

ul.projects > li {
  text-indent: 30px;
}

li {
  height: 50px;
}

h2 {
  font-size: 20px;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

#None {
  font-size: 30px;
}

.listButton {
  font-size: 25px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.listButton:hover {
  color: var(--border-color);
}

.info {
  background-image: url("../src/images/notebookPaperRight.jpg");
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.infoBox {
  background-color: var(--lightest-color-background);
  margin: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.taskBox {
  display: grid;
  grid-auto-rows: 70px;
  grid-gap: 10px;
  padding: 20px;
  height: 540px;
  overflow-y: auto;
  overflow-x: hidden;
}

.taskBox::-webkit-scrollbar {
  background: var(--lightest-color-background);
}

.taskBox::-webkit-scrollbar-thumb {
  background: var(--border-color);
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.task {
  display: grid;
  grid-template-columns: 50px 400px 50px 50px 50px;
  grid-gap: 10px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--task-background-color);
}

.checkbox {
  height: 20px;
  width: 20px;
}

#newProject {
  align-self: center;
  height: 30px;
  width: 160px;
  border-radius: 10px;
}

#newTask {
  align-self: end;
  height: 30px;
  width: 140px;
  border-radius: 10px;
}

.addButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.taskButton {
  height: 30px;
}

.taskButton:hover {
  background-color: var(--accent-color);
}

.editButton,
.deleteButton,
.addButton,
.addButton1,
.addButton2 {
  height: 20px;
}

.addButton:hover {
  opacity: 0.6;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--lightest-color-background);
  margin: auto;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 600px;
}

.close {
  color: var(--border-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--dark-border-color);
  text-decoration: none;
  cursor: pointer;
}

.modal-section {
  display: grid;
  margin: 50px;
  grid-template-columns: 200px 300px;
  grid-template-rows: 80px 20px 75px 75px 75px 175px;
}

.modal-title-text-info {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 40px;
  font-weight: 800;
  justify-self: center;
  align-self: center;
}

.underLine-info {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--accent-color);
}

.modal-project-info {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.modal-project-text-info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.modal-priority-info {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.modal-priority-text-info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.modal-due-date-info {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.modal-due-date-text-info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.modal-description-info {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

.modal-description-text-info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

.modal-title-info,
.modal-content-info,
.modal-description-info,
.modal-due-date-info,
.modal-priority-info,
.modal-project-info {
  font-weight: 800;
}

.modal-description-text-info,
.modal-due-date-text-info,
.modal-priority-text-info,
.modal-project-text-info {
  font-weight: 500;
}

.modal-description-text-info,
.modal-due-date-text-info,
.modal-priority-text-info,
.modal-project-text-info,
.modal-content-info,
.modal-description-info,
.modal-due-date-info,
.modal-priority-info,
.modal-project-info {
  font-size: 30px;
}

.modal-title-project {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 30px;
  font-weight: 800;
}

.underLine-project {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--accent-color);
}

#newProjectForm {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 8;
  display: grid;
  grid-template-columns: 200px 300px;
  grid-template-rows: 50px 50px 50px 50px 50px 100px 50px;
  align-content: center;
}

.modal-project-project {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.modal-project-input-project {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 25px;
  align-self: center;
}

.project-information-project {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  color: var(--accent-color);
  font-weight: 800;
  text-decoration: underline;
}

.modal-task-title-project {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.modal-title-input-project {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 25px;
  align-self: center;
}

.modal-due-date-project {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.modal-due-date-input-project {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 25px;
  align-self: center;
}

.modal-priority-project {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.modal-priority-options {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.low-priority-div {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 217, 0, 0.5);
  border: 1px solid gold;
}

.medium-priority-div {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 140, 0, 0.5);
  border: 1px solid darkorange;
}

.high-priority-div {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid red;
}

.modal-task-description-project {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

.modal-description-input-project {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  height: 75px;
  align-self: center;
  resize: none;
}

.submitButton {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  align-self: self-end;
  justify-self: self-end;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--accent-color);
}

#newTaskForm {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 8;
  display: grid;
  grid-template-columns: 200px 300px;
  grid-template-rows: 50px 50px 50px 50px 50px 100px 50px;
  align-content: center;
}

.modal-project-task {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.modal-project-input-task {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.project-information-task {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  color: var(--accent-color);
  font-weight: 800;
  text-decoration: underline;
}

.modal-task-title-task {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.modal-title-input-task {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 25px;
  align-self: center;
}

.modal-due-date-task {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.modal-due-date-input-task {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 25px;
  align-self: center;
}

.modal-priority-task {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.modal-priority-options-task {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-description-task {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

.modal-description-input-task {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  height: 75px;
  align-self: center;
  resize: none;
}

.submitButtonTask {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  align-self: self-end;
  justify-self: self-end;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--accent-color);
}

#editForm {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 8;
  display: grid;
  grid-template-columns: 200px 300px;
  grid-template-rows: 50px 50px 50px 50px 50px 100px 50px;
  align-content: center;
}

.modal-project-edit {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.modal-project-input-edit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.project-information-edit {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  color: var(--accent-color);
  font-weight: 800;
  text-decoration: underline;
}

.modal-task-title-edit {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.modal-title-input-edit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 25px;
  align-self: center;
}

.modal-due-date-edit {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.modal-due-date-input-edit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 25px;
  align-self: center;
}

.modal-priority-edit {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.modal-priority-options-edit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-description-edit {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

.modal-description-input-edit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  height: 75px;
  align-self: center;
  resize: none;
}

.submitButtonEdit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  align-self: self-end;
  justify-self: self-end;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--accent-color);
}
